///* ========================================================================
//   #CONFIG
//   ======================================================================== */

// A map of global config settings. Define any project-level configuration,
// feature switches, etc. in here.

$ducky-config: (
  env: dev,
  healthcheck: false,
  debug: true,
);

// You can access data in this map using the following function:
//
// ducky-config(<key>)
//
// Example usage:
//
// @if (ducky-config(debug) == true) { ...  }

@function ducky-config($key) {
  @return map-get($ducky-config, $key);
}
