/* ==========================================================================
   #SPACING
   ========================================================================== */

/**
 * Utility classes to put specific spacing values onto elements. The below loop
 * will generate us a suite of classes like:
 *
 *   .u-margin-top {}
 *   .u-padding-left-large {}
 *   .u-margin-right-small {}
 *   .u-padding {}
 *   .u-padding-right-none {}
 */

$ducky-spacing-directions: (
  null,
  '-top',
  '-right',
  '-bottom',
  '-left',
);

$ducky-spacing-properties: (
  'padding',
  'margin'
);

$ducky-spacing-sizes: (
  null: $ducky-global-spacing-unit,
  '-tiny': ducky-rem($ducky-global-spacing-unit-tiny),
  '-small': ducky-rem($ducky-global-spacing-unit-small),
  '-large': ducky-rem($ducky-global-spacing-unit-large),
  '-huge': ducky-rem($ducky-global-spacing-unit-huge),
  '-none': 0
) !default;


@each $property in $ducky-spacing-properties {

  @each $direction in $ducky-spacing-directions {

    @each $size, $value in $ducky-spacing-sizes {

      .u-#{$property}#{$direction}#{$size} {
        #{$property}#{$direction}: $value !important;
      }

    }

  }

}
