/* ==========================================================================
   #BAND
   ========================================================================== */

/**
 * Horizontal sections spanning the full width of the page.
 */

.o-band {
  padding-top: $ducky-global-spacing-unit;
  padding-bottom: $ducky-global-spacing-unit;
  
  // Size variables
  @each $modifier, $multiple in $ducky-modifiers {
    $value: ($ducky-global-spacing-unit * $multiple);

    &--#{$modifier} {
      padding-top: $value;
      padding-bottom: $value;
    }
  }
}