/* ==========================================================================
   #WRAPPER
   ========================================================================== */

/**
 * Page-level constraining and wrapping elements.
 */

$ducky-wrapper-width: 1200px !default;

/* stylelint-disable */
@if (type-of($ducky-wrapper-width) != number) {
  @error "`#{$ducky-wrapper-width}` needs to be a number."
}
/* stylelint-enable */

.o-wrapper {
  @include ducky-clearfix();
  padding-right: $ducky-global-spacing-unit;
  padding-left:  $ducky-global-spacing-unit;
  margin-right: auto;
  margin-left:  auto;
  max-width: $ducky-wrapper-width;
}





/* Size variants.
   ========================================================================== */

.o-wrapper--#{$ducky-modifier-tiny} {
  padding-right: $ducky-global-spacing-unit-tiny;
  padding-left:  $ducky-global-spacing-unit-tiny;
}

.o-wrapper--#{$ducky-modifier-small} {
  padding-right: $ducky-global-spacing-unit-small;
  padding-left:  $ducky-global-spacing-unit-small;
}

.o-wrapper--#{$ducky-modifier-large} {
  padding-right: $ducky-global-spacing-unit-large;
  padding-left:  $ducky-global-spacing-unit-large;
}

.o-wrapper--#{$ducky-modifier-huge} {
  padding-right: $ducky-global-spacing-unit-huge;
  padding-left:  $ducky-global-spacing-unit-huge;
}
