/* ==========================================================================
   #MEDIA
   ========================================================================== */

/**
 * Place any image- and text-like content side-by-side, as per:
 * http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
 */

.o-media {
  @include ducky-clearfix();
  display: block;
}


  .o-media__img {
    float: left;
    margin-right: $ducky-global-spacing-unit;

    > img {
      display: block;
    }

  }


  .o-media__body {
    overflow: hidden;
    display: block;

    &,
    > :last-child {
      margin-bottom: 0;
    }

  }


/* Size variants
   ========================================================================== */

/**
 * Modify the amount of space between our image and our text. We also have
 * reversible options for all available sizes.
 */

@each $modifier, $multiple in $ducky-modifiers {
  $value: ($ducky-global-spacing-unit * $multiple);

  .o-media--#{$modifier} {

    > .o-media__img {
      margin-right: $value;
    }

    &.o-media--reverse {

      > .o-media__img {
        margin-right: 0;
        margin-left:  $value;
      }
    }
  }
}


/* Reversed media objects
   ========================================================================== */

.o-media--reverse {

  > .o-media__img {
    float: right;
    margin-right: 0;
    margin-left: $ducky-global-spacing-unit;
  }

}


/* Gutterless media objects
   ========================================================================== */

.o-media--flush {

  > .o-media__img {
    margin-right: 0;
    margin-left:  0;
  }

}
