/* ==========================================================================
   #WRAPPER
   ========================================================================== */

/**
 * Page-level constraining and wrapping elements.
 */

.o-wrapper {
  @include ducky-clearfix();
  padding-right: $ducky-global-spacing-unit;
  padding-left:  $ducky-global-spacing-unit;
  margin-right: auto;
  margin-left:  auto;
  max-width: $ducky-wrapper-width;

  // Size variants.
  @each $modifier, $multiple in $ducky-modifiers {
    $value: ($ducky-global-spacing-unit * $multiple);

    &--#{$modifier} {
      padding-right: $value;
      padding-left: $value;
    }
  }
}
