/* ==========================================================================
   #BLOCK
   ========================================================================== */

/**
 * Stacked image-with-text object. A simple abstraction to cover a very commonly
 * occurring design pattern.
 */

.o-block {
  display: block;
  text-align: center;
}


  .o-block__img {
    margin-bottom: ducky-rem($ducky-global-spacing-unit);


    /* Size variants.
       ====================================================================== */

    .o-block--flush > & {
      margin-bottom: 0;
    }

    .o-block--#{$ducky-modifier-tiny} > & {
      margin-bottom: ducky-rem($ducky-global-spacing-unit-tiny);
    }

    .o-block--#{$ducky-modifier-small} > & {
      margin-bottom: ducky-rem($ducky-global-spacing-unit-small);
    }

    .o-block--#{$ducky-modifier-large} > & {
      margin-bottom: ducky-rem($ducky-global-spacing-unit-large);
    }

    .o-block--#{$ducky-modifier-huge} > & {
      margin-bottom: ducky-rem($ducky-global-spacing-unit-huge);
    }

  }


  .o-block__body {
    display: block;
  }





/* Alignment variants.
   ========================================================================== */

.o-block--right {
  text-align: right;
}

.o-block--left {
  text-align: left;
}
